@keyframes blinker {
  50% {
    opacity: 0;
  }
}

:root {
  --color1: #2a2b2a;
  --color2: #706c61;
  --color3: #f8f4e3;
  --color4: #e5446d;
  --color5: #ff8966;
}

@font-face {
  font-family: 'pixelmix';
  src: url('//db.onlinewebfonts.com/t/e91cfb72ba9694aa6853e675383b04c2.eot');
  src: url('//db.onlinewebfonts.com/t/e91cfb72ba9694aa6853e675383b04c2.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/e91cfb72ba9694aa6853e675383b04c2.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/e91cfb72ba9694aa6853e675383b04c2.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/e91cfb72ba9694aa6853e675383b04c2.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/e91cfb72ba9694aa6853e675383b04c2.svg#pixelmix')
      format('svg');
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: var(--color3);
  color: var(--color1);
  font-size: 0.9rem;
}

p {
  font-size: 1.7vh;
}

.is-hidden {
  display: none !important;
}

.is-blinking {
  animation: blinker 0.7s linear infinite;
}

.logo {
  width: 20vh;
}

#canvas {
  display: block;
  border: 5px solid var(--color1);
  background-color: white;
}

.fs-state {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.fs-state--ohNo {
  background-color: rgba(255, 137, 102, 0.5); /* color5 */
}

.canvas-container {
  position: relative;
}

.score-container {
  margin: 1.5vh 0;
  font-family: pixelmix;
  text-align: center;
  text-transform: uppercase;
}

.best-score {
  margin-top: -0.5vh;
  font-weight: bold;
}

.arrows {
  margin-top: 1.5vh;
  font-size: 0;
  text-align: center;
}

.iconBtn {
  --spacing: 0.5vh;
  --size: 3rem;

  display: inline-block;
  width: var(--size);
  height: var(--size);
  border: 0;
  padding: 0;
  margin: var(--spacing);
  border-radius: 4px;
  background-size: cover;
  background-color: transparent;
  color: transparent;
  opacity: 0.7;
}

.iconBtn.is-active {
  opacity: 1;
}

.iconBtn[disabled] {
  opacity: 0.4;
}

.iconBtn--arrow-up {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url('./assets/arrow-up.svg');
}

.iconBtn--arrow-right {
  background-image: url('./assets/arrow-right.svg');
}

.iconBtn--arrow-down {
  background-image: url('./assets/arrow-down.svg');
}

.iconBtn--arrow-left {
  background-image: url('./assets/arrow-left.svg');
}

.iconBtn--play {
  background-image: url('./assets/play.svg');
}

.iconBtn--pause {
  background-image: url('./assets/pause.svg');
}

.footer {
  --spacing: 0.5rem;

  position: fixed;
  bottom: var(--spacing);
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-sep {
  margin: 0 var(--spacing);
  color: #000;
  font-size: 10px;
}

.footer-logo {
  display: block;
  padding: var(--spacing);
}
