:root {
  --color1: #2a2b2a;
  --color2: #706c61;
  --color3: #f8f4e3;
  --color4: #e5446d;
  --color5: #ff8966;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: var(--color3);
}

.is-hidden {
  display: none !important;
}

#canvas {
  margin: 3rem 0;
  border: 5px solid var(--color1);
  background-color: white;
}

.fs-state {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.fs-state--ohNo {
  background-color: rgba(255, 137, 102, 0.5); /* color5 */
}

.arrows {
  font-size: 0;
  text-align: center;
}

.iconBtn {
  --size: 3.5rem;

  display: inline-block;
  width: var(--size);
  height: var(--size);
  border: 0;
  padding: 0;
  margin: 0.3rem;
  border-radius: 4px;
  background-size: cover;
  background-color: transparent;
  color: transparent;
  opacity: 0.7;
}

.iconBtn.is-active {
  opacity: 1;
}

.iconBtn[disabled] {
  opacity: 0.4;
}

.iconBtn--arrow-up {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url('./assets/arrow-up.svg');
}

.iconBtn--arrow-right {
  background-image: url('./assets/arrow-right.svg');
}

.iconBtn--arrow-down {
  background-image: url('./assets/arrow-down.svg');
}

.iconBtn--arrow-left {
  background-image: url('./assets/arrow-left.svg');
}

.iconBtn--play {
  background-image: url('./assets/play.svg');
}

.iconBtn--pause {
  background-image: url('./assets/pause.svg');
}
